<%= stylesheet_link_tag "home" %>
<div class="header">
  <h2>ISM</h2>
  <p>The Ingenius Software Manager advanced tool to build and manage a Linux system from scratch.</p>
</div>

<ul>
  <li><a class="active" href="<%= root_path %>">Home</a></li>
  <li><a href="#news">Documentation</a></li>
  <li><a href="#contact">Forum</a></li>
</ul>
