body
{
    font-family: 'Arial';
    font-size: 1.1em;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainMenu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    height: 8vh;
}

.MainMenu .Home
{
    background-color: #4466ff;
    height: 100%;
    display: flex;
    align-items: center;
}

.MainMenu .Services
{
    height: 100%;
    display: flex;
    align-items: center;
}

.MainMenu .Contacts
{
    height: 100%;
    display: flex;
    align-items: center;
}

.MainMenu .About
{
    height: 100%;
    display: flex;
    align-items: center;
}

.MainMenu li a, .ServicesButton
{
    display: flex;
    color: white;
    align-items: center;
    padding: 14px 14px;
    text-decoration: none;
    transition: transform .5s;
    height: 100%;
}

.MainMenu li a:hover, .Services:hover .ServicesButton
{
    background-color: #4466ff;
    transform: scale(1.1);
}

.MainMenu li.Services
{
    display: flex;
    flex-direction: column;
}

.MainMenu .ServicesContent
{
    display: none;
    position: absolute;
    top:8vh;
    background-color: #f9f9f933;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.MainMenu .ServicesContent a
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.MainMenu .ServicesContent a:hover
{
    background-color: #f1f1f1;
    color: black;
    transform: scale(1.0);
}

.MainMenu .Services:hover .ServicesContent
{
    display: flex;
}

.News
{
    position: relative;
    display: flex;
}

.News .NewsBanner
{
    display: flex;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.News .ReadMore
{
    position: absolute;
    top: 45%;
    left: 45%;
    width: 10vw;
    height: 5vh;
    border-radius: 2px;
    border: 1px solid #ffffffcc;
    background-color: #bbbbbb44;
    color: #ffffff;
    cursor: pointer;
    transition: transform .5s;
}

.News .ReadMore:hover
{
    transform: scale(1.05);
    background-color: #eeeeee44;
}

.MainBody
{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainBody .Presentation
{
    padding-top: 5vh;
    padding-left: 5vw;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}

.MainBody .Title
{
    margin: 0;
    color: #5566ff;
    text-shadow: 2px 2px 2px #0002;
    font-size: 1.45em;
}

.MainBody .Introduction
{
    margin: 0;
    padding-top: 1vh;
    padding-left: 5vw;
    text-shadow: 2px 2px 2px #0002;
}

.MainBody .Technologies
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.MainBody .Technologies .Presentation img
{

}

.MainBody .Technologies .Presentation
{
    z-index: 1;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.MainBody .Technologies .Presentation .Ruby
{
    display: flex;
}

.MainBody .Technologies .Presentation .RubyOnRails
{
    display: flex;
    flex-direction: row-reverse;
}

.MainBody .Technologies .Presentation .Html5
{
    display: flex;
}

.MainBody .Technologies .Presentation .Css3
{
    display: flex;
    flex-direction: row-reverse;
}

.MainBody .Technologies .Presentation .RubyIcon
{
    align-self: flex-start;
}

.MainBody .Technologies .Presentation .RubyDescription
{
    align-self: flex-start;
    color: #ff5566;
    text-shadow: 2px 2px 2px #ff556655, -2px -2px 2px #ff556655, -2px 2px 2px #ff556655, 2px -2px 2px #ff556655;
    width: 50%;
}

.MainBody .Technologies .Presentation .RubyOnRailsIcon
{
    align-self: flex-end;
}

.MainBody .Technologies .Presentation .RubyOnRailsDescription
{
    align-self: flex-end;
    color: #55ff66;
    text-shadow: 2px 2px 2px #55ff6655, -2px -2px 2px #55ff6655, -2px 2px 2px #55ff6655, 2px -2px 2px #55ff6655;
    width: 50%;
}

.MainBody .Technologies .Presentation .Html5Icon
{
    align-self: flex-start;
}

.MainBody .Technologies .Presentation .Html5Description
{
    align-self: flex-start;
    color: #ff5500;
    text-shadow: 2px 2px 2px #ff550055, -2px -2px 2px #ff550055, -2px 2px 2px #ff550055, 2px -2px 2px #ff550055;
    width: 50%;
}

.MainBody .Technologies .Presentation .Css3Icon
{
    align-self: flex-end;
}

.MainBody .Technologies .Presentation .Css3Description
{
    align-self: flex-end;
    color: #00eeff;
    text-shadow: 2px 2px 2px #00eeff55, -2px -2px 2px #00eeff55, -2px 2px 2px #00eeff55, 2px -2px 2px #00eeff55;
    width: 50%;
}

.MainBody .PresentationWallpaper
{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.Footer
{
    position: absolute;
    top: 138vh;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
}

.Footer img
{
    width: 48px;
    height: 48px;
    filter: drop-shadow(8px 8px 4px #0005);
    transition: transform .5s;
    cursor: pointer;
}

.Footer img:hover
{
    transform: scale(1.2);
}

.Footer .SocialLinks
{

}
